.btn-primary{
    background-color: black;
    color: yellow;
    /* padding: .75rem;
    border-radius: .75rem; */
}

.btn-primary:hover{
    background-color: rgba(110, 105, 105, 0.941);
    color: rgb(255, 255, 255);
}
